<template>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">Create Real Estate</div>
            <div class="pull-right">
                <button type="button" class="btn btn-link" v-on:click="back">Back</button>
            </div>
        </div>
        <div class="panel-body">
            <form v-on:submit.prevent>
                <div class="form-group" v-bind:class="{'has-error': (nameError != '')}">
                    <label for="name">Name</label>
                    <input type="text" maxlength="255" class="form-control" id="name" required v-model="name">
                    <span class="help-block" v-model="nameError">{{ nameError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (developerError != '')}">
                    <label for="developer">Developer</label>
                    <select class="form-control" id="developer" required v-model="developer">
                        <option v-for="developerElement in developerList" v-bind:value="developerElement.value">
                            {{ developerElement.text }}
                        </option>
                    </select>
                    <span class="help-block" v-model="developerError">{{ developerError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (cityError != '')}">
                    <label for="city">City</label>
                    <input type="text" maxlength="255" class="form-control" id="city" required v-model="city">
                    <span class="help-block" v-model="cityError">{{ cityError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (countryError != '')}">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" required v-model="country">
                        <option v-for="countryElement in countryList" v-bind:value="countryElement.value">
                            {{ countryElement.text }}
                        </option>
                    </select>
                    <span class="help-block" v-model="countryError">{{ countryError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (priceError != '')}">
                    <label for="price">Price</label>
                    <input type="number" min="0.01" max="999999.99" step="0.01" class="form-control" id="price" required v-model="price">
                    <span class="help-block" v-model="priceError">{{ priceError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (isOnSaleError != '')}">
                    <label for="isOnSale">Is on sale</label>
                    <select class="form-control" id="isOnSale" required v-model="isOnSale">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <span class="help-block" v-model="isOnSaleError">{{ isOnSaleError }}</span>
                </div>
                <button type="submit" class="btn btn-primary" v-on:click="create">Create</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                developerList: [],
                developer: '',
                city: '',
                countryList: [],
                country: '',
                price: '',
                isOnSale: '',
                nameError: '',
                developerError: '',
                cityError: '',
                countryError: '',
                priceError: '',
                isOnSaleError: ''
            };
        },
        mounted() {
            axios.get('/api/developers')
            .then(response => {
                const developers = [];

                for (var value of response.data) {
                    developers.push({
                        value: value.id,
                        text: value.name
                    });
                }

                this.developerList = developers;
            }).catch(error => {
                alert('Could not load developers. Try to refresh page.');
            });

            axios.get('/api/countries')
            .then(response => {
                const countries = [];

                for (var value of response.data) {
                    countries.push({
                        value: value.id,
                        text: value.name
                    });
                }

                this.countryList = countries;
            })
            .catch(error => {
                alert('Could not load countries. Try to refresh page.');
            });
        },
        methods: {
            create: function() {
                this.clearErrors();

                axios.post('/api/real_estates', {
                    name: this.name,
                    developer: this.developer,
                    city: this.city,
                    country: this.country,
                    price: this.price,
                    is_on_sale: this.isOnSale
                })
                .then(response => {
                    this.$router.push({name: 'root'});
                }).catch(error => {
                    if (error.response.data.hasOwnProperty('name')) {
                        this.nameError = error.response.data.name[0];
                    }
                    if (error.response.data.hasOwnProperty('developer')) {
                        this.developerError = error.response.data.developer[0];
                    }
                    if (error.response.data.hasOwnProperty('city')) {
                        this.cityError = error.response.data.city[0];
                    }
                    if (error.response.data.hasOwnProperty('country')) {
                        this.countryError = error.response.data.country[0];
                    }
                    if (error.response.data.hasOwnProperty('price')) {
                        this.priceError = error.response.data.price[0];
                    }
                    if (error.response.data.hasOwnProperty('is_on_sale')) {
                        this.isOnSaleError = error.response.data.is_on_sale[0];
                    }
                });
            },
            clearErrors: function() {
                this.nameError = '';
                this.developerError = '';
                this.cityError = '';
                this.countryError = '';
                this.priceError = '';
                this.isOnSaleError = '';
            },
            back: function() {
                this.$router.go(-1);
            }
        }
    }
</script>
