<template>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">Real Estates</div>
            <div class="pull-right">
                <router-link type="button" class="btn btn-primary float-right" :to="{name: 'create'}" tag="button">Create</router-link>
            </div>
        </div>
        <div class="panel-body">
            <form v-on:submit.prevent>
                <div class="form-group" v-bind:class="{'has-error': (countryError != '')}">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" v-model="country">
                        <option v-for="countryElement in countryList" v-bind:value="countryElement.value">
                            {{ countryElement.text }}
                        </option>
                    </select>
                    <span class="help-block" v-model="countryError">{{ countryError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (maxPriceError != '')}">
                    <label for="maxPrice">Price</label>
                    <input type="number" min="0.01" max="999999.99" step="0.01" class="form-control" id="maxPrice" placeholder="less than" v-model="maxPrice">
                    <span class="help-block" v-model="maxPriceError">{{ maxPriceError }}</span>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (isOnSaleError != '')}">
                    <label for="isOnSale">Is on sale</label>
                    <select class="form-control" id="isOnSale" v-model="isOnSale">
                        <option value="">All</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <span class="help-block" v-model="isOnSaleError">{{ isOnSaleError }}</span>
                </div>
                <button type="submit" class="btn btn-primary" v-on:click="getRealEstates">Filter</button>
            </form>
            <hr/>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Price</th>
                    <th scope="col">On Sale</th>
                </tr>
                </thead>
                <tbody>
                <router-link v-for="realEstate in realEstates" :key="realEstate.id" tag="tr" :to="{name: 'show', params: {id: realEstate.id}}">
                    <td>{{ realEstate.id }}</td>
                    <td>{{ realEstate.name }}</td>
                    <td>{{ realEstate.address.country.name }}</td>
                    <td>{{ realEstate.price }}</td>
                    <td>{{ realEstate.is_on_sale ? 'Yes' : 'No' }}</td>
                </router-link>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                realEstates: [],
                countryList: [],
                country: '',
                maxPrice: '',
                isOnSale: '',
                countryError: '',
                maxPriceError: '',
                isOnSaleError: ''
            };
        },
        mounted() {
            axios.get('/api/countries')
            .then(response => {
                const countries = [{
                    value: '',
                    text: 'All'
                }];

                for (var value of response.data) {
                    countries.push({
                        value: value.id,
                        text: value.name
                    });
                }

                this.countryList = countries;
            })
            .catch(error => {
                alert('Could not load countries. Try to refresh page.');
            });

            this.getRealEstates();
        },
        methods: {
            getRealEstates: function() {
                this.clearErrors();

                const parameters = {};

                if (this.country) {
                    parameters.country = this.country;
                }

                if (this.maxPrice) {
                    parameters.max_price = this.maxPrice;
                }

                if (this.isOnSale) {
                    parameters.is_on_sale = this.isOnSale;
                }

                axios.get('/api/real_estates', {params: parameters})
                    .then(response => {
                        this.realEstates = response.data;
                    }).catch(error => {
                    if (error.response.data.hasOwnProperty('country')) {
                        this.countryError = error.response.data.country[0];
                    }
                    if (error.response.data.hasOwnProperty('max_price')) {
                        this.maxPriceError = error.response.data.max_price[0];
                    }
                    if (error.response.data.hasOwnProperty('is_on_sale')) {
                        this.isOnSaleError = error.response.data.is_on_sale[0];
                    }
                });
            },
            clearErrors: function() {
                this.countryError = '';
                this.maxPriceError = '';
                this.isOnSaleError = '';
            }
        }
    }
</script>
