<template>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">Real Estate Details</div>
            <div class="pull-right">
                <button type="button" class="btn btn-link" v-on:click="back">Back</button>
            </div>
        </div>
        <div class="panel-body">
            <div v-if="realEstate">
                <div><strong>ID:</strong> {{ realEstate.id }}</div>
                <div><strong>Name:</strong> {{ realEstate.name }}</div>
                <div><strong>Developer:</strong> {{ realEstate.developer.name }}</div>
                <div><strong>City:</strong> {{ realEstate.address.city }}</div>
                <div><strong>Country:</strong> {{ realEstate.address.country.name }}</div>
                <div><strong>Price:</strong> {{ realEstate.price }}</div>
                <div><strong>On Sale:</strong> {{ realEstate.is_on_sale ? 'Yes' : 'No' }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id: this.$route.params.id,
                realEstate: null
            };
        },
        mounted() {
            axios.get('/api/real_estates/' + this.id)
            .then(response => {
                this.realEstate = response.data;
            })
            .catch(error => {
                alert('Real Estate could not be found. Try to refresh page.');
            });
        },
        methods: {
            back: function() {
                this.$router.go(-1);
            }
        }
    }
</script>
